POSTGRES_USER="jfps.dev21"
POSTGRES_PASSWORD="oh3l5OigAVDJ"
POSTGRES_HOST="ep-delicate-frost-675944.eu-central-1.aws.neon.tech"
POSTGRES_DB="neondb"


DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}
SHADOW_DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}